.button {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  max-width: 325px;
  border: 2px solid;
}
.button_answer {

  max-width: 200px;
  text-align: center;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
}
