.button {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 98px;
  max-width: 325px;
  border: 2px solid;
  cursor: pointer;
}
.button_answer {
  max-width: 200px;
  text-align: center;
  padding: 10px 20px;
  background: white;
  cursor: pointer;
}
.button_icon {
  background: transparent;
  border: 1px solid #FFFFFF90;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0;
  padding-inline: 0;
  padding: 5px;
}
