.profile__pic {
  position: absolute;
  z-index: -1;
}
body {
  margin: 0;
}
.backButtonWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.test {
  background-color: #FFFFFF;
}
