.profile__pic {
  position: absolute;
  z-index: -1;
  width: 375px;
  height: 100%;
}
body {
  margin: 0;
}
.backButtonWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.test {
  background-color: #FFFFFF;
}
.profile__tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}
.wrap {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.profile__name {
  font-family: Inter;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-top: 280px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  border: 2px solid #000000;
  padding: 0px 2px 0px 2px;
}
