.textInput {
  border-radius: 50px;
  background-color: #FFFFFF;
  outline: none;
  border: none;
  text-align: center;
}

.textInput::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
}
